

<div class="row">
  <div class="col-xs-12 col-md-8">
    <h1>ABOUT US</h1>
    <h4>Nigeria Online Beauty Queen is Nigeria's first and biggest online facial beauty contest ever, were every
    eligible nigeria woman anywhere in the world is privileged to contest in the largest online beauty pageant and be crowned the next quarter's nigeria online beauty queen.</h4>
  </div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>