// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-edit {

}
.left-profile-image {;
  float: left;
  min-height: 500px;

}

.pictures-in-edit {
  float: left;
  width: 100px;


}
.edit-profile-form {

}
.left-profile {
  width: 40%;
  float: left;
  min-height: 500px;
}
